USE [master]
GO
/****** Object:  Database [C:\BARRE\DONELLE M\ASP.NET AND MVC\DONELLA\APP_DATA\MEETNGREET.MDF]    Script Date: 12/22/2020 2:01:18 AM ******/
CREATE DATABASE [C:\BARRE\DONELLE M\ASP.NET AND MVC\DONELLA\APP_DATA\MEETNGREET.MDF]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MEETnGreet', FILENAME = N'C:\BARRE\Donelle M\ASP.NET and MVC\Donella\App_Data\MEETnGreet.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'MEETnGreet_log', FILENAME = N'C:\BARRE\Donelle M\ASP.NET and MVC\Donella\App_Data\MEETnGreet_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [C:\BARRE\DONELLE M\ASP.NET AND MVC\DONELLA\APP_DATA\MEETNGREET.MDF].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [C:\BARRE\DONELLE M\ASP.NET AND MVC\DONELLA\APP_DATA\MEETNGREET.MDF]
GO
USE [C:\BARRE\DONELLE M\ASP.NET AND MVC\DONELLA\APP_DATA\MEETNGREET.MDF]
GO
/****** Object:  Table [dbo].[ExceptionLogger]    Script Date: 12/22/2020 2:01:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ExceptionLogger](
	[ExceptionId] [int] IDENTITY(1,1) NOT NULL,
	[ExceptionMessage] [nvarchar](max) NULL,
	[ControllerName] [nvarchar](100) NULL,
	[ActionName] [nvarchar](100) NULL,
	[ExceptionStackTrack] [nvarchar](max) NULL,
	[ExceptionLogTime] [datetime] NULL,
 CONSTRAINT [PK_ExceptionLogger] PRIMARY KEY CLUSTERED 
(
	[ExceptionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FriendRequest]    Script Date: 12/22/2020 2:01:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FriendRequest](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FromId] [int] NULL,
	[toId] [int] NULL,
	[StatusID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Gender]    Script Date: 12/22/2020 2:01:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Gender](
	[GenderId] [int] NOT NULL,
	[Gender] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[GenderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Profile]    Script Date: 12/22/2020 2:01:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Profile](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[FirstName] [varchar](100) NULL,
	[MiddleName] [varchar](100) NULL,
	[LastName] [varchar](100) NULL,
	[PhotoPath] [varchar](100) NULL,
	[EmailAddress] [varchar](100) NULL,
	[GenderId] [int] NULL,
	[Location] [varchar](100) NULL,
	[ZipCode] [varchar](100) NULL,
	[IsActive] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProfileVisit]    Script Date: 12/22/2020 2:01:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProfileVisit](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ByUserId] [int] NOT NULL,
	[MyUserID] [int] NOT NULL,
	[VisitedOn] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RequestStatus]    Script Date: 12/22/2020 2:01:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RequestStatus](
	[StatusId] [int] IDENTITY(1,1) NOT NULL,
	[Status] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[StatusId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserInfo]    Script Date: 12/22/2020 2:01:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserInfo](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [varchar](20) NOT NULL,
	[Password] [varchar](100) NOT NULL,
	[ModifiedOn] [datetime] NULL,
	[RoleId] [int] NULL,
	[IsActive] [int] NOT NULL,
	[IsProfileCreated] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserRole]    Script Date: 12/22/2020 2:01:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserRole](
	[RoleId] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [varchar](100) NOT NULL,
	[ModifiedOn] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WallPost]    Script Date: 12/22/2020 2:01:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WallPost](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FromId] [int] NOT NULL,
	[ToId] [int] NOT NULL,
	[Content] [varchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[Profile] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[ProfileVisit] ADD  DEFAULT (getutcdate()) FOR [VisitedOn]
GO
ALTER TABLE [dbo].[UserInfo] ADD  DEFAULT (getutcdate()) FOR [ModifiedOn]
GO
ALTER TABLE [dbo].[UserInfo] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[UserInfo] ADD  DEFAULT ((0)) FOR [IsProfileCreated]
GO
ALTER TABLE [dbo].[UserRole] ADD  DEFAULT (getutcdate()) FOR [ModifiedOn]
GO
ALTER TABLE [dbo].[FriendRequest]  WITH CHECK ADD FOREIGN KEY([FromId])
REFERENCES [dbo].[UserInfo] ([Id])
GO
ALTER TABLE [dbo].[FriendRequest]  WITH CHECK ADD FOREIGN KEY([StatusID])
REFERENCES [dbo].[RequestStatus] ([StatusId])
GO
ALTER TABLE [dbo].[FriendRequest]  WITH CHECK ADD FOREIGN KEY([toId])
REFERENCES [dbo].[UserInfo] ([Id])
GO
ALTER TABLE [dbo].[Profile]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[UserInfo] ([Id])
GO
ALTER TABLE [dbo].[ProfileVisit]  WITH CHECK ADD FOREIGN KEY([ByUserId])
REFERENCES [dbo].[UserInfo] ([Id])
GO
ALTER TABLE [dbo].[ProfileVisit]  WITH CHECK ADD FOREIGN KEY([MyUserID])
REFERENCES [dbo].[UserInfo] ([Id])
GO
ALTER TABLE [dbo].[UserInfo]  WITH CHECK ADD FOREIGN KEY([RoleId])
REFERENCES [dbo].[UserRole] ([RoleId])
GO
ALTER TABLE [dbo].[WallPost]  WITH CHECK ADD FOREIGN KEY([FromId])
REFERENCES [dbo].[UserInfo] ([Id])
GO
ALTER TABLE [dbo].[WallPost]  WITH CHECK ADD FOREIGN KEY([ToId])
REFERENCES [dbo].[UserInfo] ([Id])
GO
/****** Object:  StoredProcedure [dbo].[USP_CheckUserName]    Script Date: 12/22/2020 2:01:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USP_CheckUserName]
	@UserName varchar(100)
AS
BEGIN
  SELECT 1 FROM UserInfo WHERE UserName = @UserName;
END
GO
/****** Object:  StoredProcedure [dbo].[usp_GetWallPostDetails]    Script Date: 12/22/2020 2:01:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE  PROCEDURE [dbo].[usp_GetWallPostDetails]
	@toId int
AS
BEGIN

SELECT Content, P.UserID, P.PhotoPath
FROM WallPost W
INNER JOIN Profile P ON p.UserID = W.FromId
WHERE P.IsActive = 1
 

END
GO
/****** Object:  StoredProcedure [dbo].[usp_UpdateRequestResponse]    Script Date: 12/22/2020 2:01:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE  PROCEDURE [dbo].[usp_UpdateRequestResponse]
	@StatusID int,
	@FromId int,
	@toId int
AS
BEGIN

  UPDATE [FriendRequest] SET StatusID = @StatusID WHERE FromId = @FromId AND toId = @toId

END
GO
USE [master]
GO
